
h1 {margin:0;padding:0;}
h1 {font-size:100%;font-weight:normal;}
body{
      background-color: azure;
}




.box{
    background-color: white;

padding: 2%;
 margin: 0 auto;

-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);
-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);
box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);
}

.font-style {
    font-family: Adamina;
    color: #000000;
    font-size: 1.5em;
    padding: 1;
    text-align: center;
}

header { display:block;}

h1 {
    font-family: Raleway;
    color: #858585;
    font-size: 3em;
    padding: 0;
    text-transform: lowercase;
    text-align: center;

}

/*TODO*/
.lista_cursos{
    /*esta es la lista que contiene todos los cursos */
}
.lista_curso{
    /*esta es la lista es un solo curso, esta dentro de la lista_cursos */
}

/*Si quieres modificar el css del dialog formatea esta clase:;*/
.dialog_text{

}

.certificados_list{
    /*esta es la lista que muestra todos los certificados esta en url.../insert*/

}

/*este es el form en .../insert*/
.form{

}

#form_to_export ul li {
    float: left;
    padding-left: 5%;
    text-decoration: none;
}
#form_to_export ul  {
    list-style: none;
}


.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } 
.datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; border: 1px solid #006699; 
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
    .datagrid table td, 
    .datagrid table th { padding: 3px 10px; }
    .datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00557F; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEf4; color: #00557F; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEf4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #00557F; color: #FFFFFF; background: none; background-color:#006699;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }

 .container {

  height: 14rem;


}



.navbar-brand img{
    width: 70%;
    margin-top: -15%;
}




html, body {
  height: 100%;
}

.container{
  
}

.vertical-center {
    background-color: transparent;
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 70%;
}

.vertical-center > .container {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;        /* <-- reset the font property */
}

@media (max-width: 768px) {
  .vertical-center:before {
    /* height: auto; */
    display: none;
  }
}